[submodule "javascripts/src/dojo"]
	path = javascripts/src/dojo
	url = git://github.com/dojo/dojo.git
[submodule "javascripts/src/dijit"]
	path = javascripts/src/dijit
	url = git://github.com/dojo/dijit
[submodule "javascripts/src/util"]
	path = javascripts/src/util
	url = git://github.com/dojo/util
[submodule "javascripts/src/dojox"]
	path = javascripts/src/dojox
	url = git://github.com/dojo/dojox
