[submodule "js/src/dojo"]
	path = js/src/dojo
	url = git://github.com/dojo/dojo.git
[submodule "js/src/dijit"]
	path = js/src/dijit
	url = git://github.com/dojo/dijit
[submodule "js/src/util"]
	path = js/src/util
	url = git://github.com/dojo/util
[submodule "js/src/dojox"]
	path = js/src/dojox
	url = git://github.com/dojo/dojox
