<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="en" />
		<meta http-equiv="Content-Script-Type" content="test/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<title>Navigater Demo</title>
	</head>
	<body>
		<div data-dojo-type="SlideShow/Views/Navigater">
			Navigater is created here
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="/resources/javascripts/config.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js"></script>
		<script type="text/javascript">
			require(["SlideShow/Views/Navigater"]);
			require(["SlideShow/tests/Views/Navigater"])
		</script>
	</body>
</html>